<% if !user_signed_in?%>
  <div>
    <i class="fa fa-fw fa-twitter"></i>
    <%= link_to 'Login with Twitter', '/users/auth/twitter' %><br />
  </div>
<% end %>
<h3>Vital parameters</h3>
<%= render "form", vital_parameter: @vital_parameter %>
<%= link_to 'All vital parameters', vital_parameters_path %>
